body {
color: black;
background-color: aquamarine ;
font-family: Arial, Helvetica, sans-serif;

} 
   p { font-size:  25px; 
     }     
   h1 {
    
        font-size: 40px; 
        text-align: center;
      }  
   h2 {
        font-size: 30px;
      }
   h3 {
        font-size: 30px;
      }
      .container-nav {
        display: flex;
        padding: 10px;
        height: 50px;
        background-color: royalblue;
        }
        .navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        }
        .brand {
        display: flex;
        align-items: center;
        }
        li>a {
        padding: 8px 24px;
        }
        li {
        list-style-type: none;
        }
        a {
        color: black;
        text-decoration:none;
        }
        .nav-links {
        display: flex;
        align-items: center;
        }
        .button-menu-toggle {
        display: none;
        }